.filterBtn {
  color: #fff;
  background-color: #366EFF;

  &:hover {
    color: #fff;
    background-color: #366EFF;
  }
}

.defaultFilterBtn {
  color: #366EFF;
  background-color: #fff;

  &:hover {
    color: #fff;
    background-color: #366EFF;
  }
}