.mainWrap {
    height: 400px;
    width: 400px;
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.emailBlock {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 120px;
}

.infoBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginLink {
    text-decoration: none;
    color: rgb(90, 90, 231);
}