@import "../../common/styles/mixins";

.mainWrap {
  height: 400px;
  width: 400px;
  background-color: #fff;
  @include borderShadows();
  display: flex;
  justify-content: space-around;
  align-items: center;

  .emailBlock {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 120px;
  }

  .infoBlock {
    @include alignCenter();

    .loginLink {
      text-decoration: none;
      color: rgb(90, 90, 231);
    }
  }
}





